#topic {
    padding-top: 50px;
    padding-bottom: 30px;
}

#topic .col {
    justify-content: center; 
    flex-direction: column;
    display: flex;
}

#topic .card {
    /* background-color: #eee; */
    box-shadow: 11px 7px 16px #f9f9f9;
    border: 0;
    text-align: center;
}
/* .icons{
    font-size: 25px;
} */
